.container, .background-image{
  background-image: url("../img/dicex.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-dodge;
}

h1{
  color: navy;
  text-align: center;
  text-shadow: ;
  text-decoration-color: yellow;
  text-emphasis-color: yellow;
}
.box1{
  position: fixed;
  right: 100px;
  border: 1px solid yellow;
  width: 400px;
  height: 500px;
  text-align: center;
  font-weight: 700;
  font-style: oblique;
  font-size: 480%;
  background-color: green;
  opacity: 0.9;
}

.box2{
  position: absolute;
  left: 100px;
  border: 1px solid yellow;
  width: 400px;
  height: 500px;
  text-align: center;
  font-weight: 700;
  font-style: oblique;
  font-size: 480%;
  background-color: navy;
  opacity: 0.9;
}
