.container, .background-image{
  background-image: url("../img/dicex.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

h1{
  color: navy;
  text-align: center;
  text-shadow: ;
  text-decoration-color: yellow;
  text-emphasis-color: yellow;
}
.box{
  position: absolute;
  right: 150px;
  border: 1px solid yellow;
  box-sizing: inherit;
  width: 400px;
  height: 500px;
  text-align: center;
  font-weight: 700;
  font-style: oblique;
  font-size: 480%;
  background-color: green;

}
